* {
    box-sizing: border-box;
}

:root {
    --primary-lightmode: rgb(167, 182, 207);
    --secondary-lightmode: rgb(14, 14, 171);
    --tertiary-lightmode: black;

    --primary-darkmode:rgb(28, 27, 27);
    --secondary-darkmode:rgb(91, 91, 91);
    --tertiary-darkmode:white;
}

body {
    background-color: rgba(0, 0, 0, 0.571);
    
}



.theme--light {
    color: var(--tertiary-lightmode);
    background-color: var(--primary-lightmode);
}

.theme--dark {

}

.button--light {
    background-color: var(--secondary-lightmode);
    color: var(--primary-lightmode);
}

.app_popout-border {
    border: 1px solid var(--black);
    box-shadow: 2px 2px 2px;
    border-radius: 5px;
    padding: 5px;
}

.app

.test {
    background-color: black;
}

.user-inputs {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.user-inputs_container {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 2px 2px 2px;
    border-radius: 5px;
    width: 50%;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 5px;
    margin-bottom: 10px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.logo {
    height: 100%;
    margin-right: 5px;
}